@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: 'Comfortaa', cursive;
}

main {
    width: 80%;
    margin: 1rem auto;
  }

  .actions .button{
    margin-bottom: 0px
  }

  .flickName{
      margin: 0 0.75rem
  }
  .template{
      display: none
  }